<!DOCTYPE html>
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>login</title>

  
</head><body>
<form action="/sp" method="POST">

UserName:-<input name="userid" value="username"><br>

new Password :-<input name="passwd" type="password"><br>
confrim Password :-<input name="passwd1" type="password"><br>
<br><small style="color: red;">*userid already in use or password is not same</small><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
&nbsp;&nbsp;<input type="submit" value="sign up">
</form>

<br>
</body></html>